<div class="bookmark-listing">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="h2 panel-title">Search for Bookmarks</span>
			
			<a ui-sref="bookmarks.create" class="pull-right">
				<button class="btn btn-primary btn-sm" type="button">
				Create New<span class="glyphicon glyphicon-plus"></span>
				</button>
			</a>
			
		</div>
		
		<div class="panel-body">
			<div class="form-container">
				<div class="form-group row">
					<label for="" class="col-sm-2 control-label">Title</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Title"
						ng-model="searchCriteria.titleText">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 control-label">Minimum Rating</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="searchCriteria.minimumRating" placeholder="Rating"></div>
					</div>
				</div>
				<div>
					<label class="">Tags</label>
					
					<bm-tag-search all-tags="availableTags"
					selected-tags="selectedTags">
					</bm-tag-search>
					<div class="row">
						<div class="col-xs-6">
							<label >Tag Matching Criteria:</label>
							<span bm-popover class="glyphicon glyphicon-question-sign"
							data-toggle="popover" data-content="<strong>Any</strong> - bookmarks with any matching tag.<br/> <strong>All</strong> - bookmarks with ALL matching tags"
							data-container="body">
								
							</span>
							<select ng-model="searchCriteria.anyAllTagLogic" class="form-control">
								<option value="1">ANY</option>
								<option value="2">ALL</option>
							</select>
						</div>
					</div>
					<label for="">Added Tags ({{selectedTags.length || 0}} selected)</label>
					<div class="well added-tag-list clearfix">
						<div class="tag added col-xs-4 col-md-3 tag"
							ng-click="removeTag(tag)"
							ng-repeat="tag in selectedTags | limitTo: 4">
							{{tag.tagName}}
						</div>
					</div>
				</div>
				<div>
					<label >
						Resource Types
					</label>
					<select ng-model="searchCriteria.resourceTypeIds"
						ng-options="item.id as item.resourceName for item in resources"
						multiple="true"
						class="form-control">
					</select>
				</div>
				<div>
					<div class="row">
						<div class="col-xs-6">
							<label >Any or All Fields Huh?</label>
							<span bm-popover class="glyphicon glyphicon-question-sign"
							data-toggle="popover" data-content="<strong>AND</strong> - Compare criteria using 'and' logic comparison<br/> <strong>OR</strong> - Compare criteria using 'or' logic comparison"
							data-container="body">
								
							</span>
							
							<select ng-model="searchCriteria.andOrFieldLogic" class="form-control">
								<option value="1">AND</option>
								<option value="2">OR</option>
							</select>
						</div>
						
					</div>
				</div>
				<div>
					<button class="btn btn-info" type="button" aria-label="Left Align"
					ng-click="search()"><span class="glyphicon glyphicon-search"></span> Search</button>
					<button class="btn btn-danger" type="button" aria-label="Left Align"
					ng-click="clearSearch()"><span class="glyphicon glyphicon-remove-sign"></span> Clear</button>
				</div>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">Bookmark Results - {{bookmarks.length || 0}} bookmark(s) found</h4>
			</div>
			<table class="table">
				<tbody>
					<tr ng-repeat="bookmark in bookmarks">
						<td><a ui-sref="bookmarks.detail({bookmarkId: bookmark.id})"> {{bookmark.title}}</a></td>
						<td>{{bookmark.gist}}</td>
						<td><a href="{{bookmark.url}}" target="_blank">
							Link
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>