<div>
	<div>
		<button class="btn btn-sm btn-danger"  ng-click="undoChanges()">Undo</button>
		<button class="btn btn-sm btn-success" ng-click="updateBookmark()">Confirm Update</button>
	</div>
	<label for="">Bookmark Title:</label> 
	<input type="text" ng-model="bookmark.title">
	<br>
	<label for="">Tags:</label> 
	<div class="tag-listing">
		<div class="tag" ng-repeat="tag in bookmark.tags">
			<span>{{tag.tagName}}</span> <span ng-click="removeTag(tag)">X</span>
		</div>
	</div>
	<tag-search all-tags="allTags"
	selected-tags="bookmark.tags"
	create-tag="createTag(tagName)"
	can-add="true">
	</tag-search>
	<label for="">Resource Type:</label>
	<select ng-model="bookmark.resourceType"
	ng-options="item.id as item.resourceName for item in resources" >
	</select>
	<label for="">Url</label>
	<input type="text" class="form-control">
	<label for="">Gist:</label>
	<input type="text" ng-model="bookmark.gist" />
	<br>
	<label for="">Review</label>
	<p>This is just a stub for reviews</p>
</div>