<div class="container">
    <div class="main">
        <h2>Bookmarky</h2>
        <p>
            This is the bookmarky site. It is a pet project by Mike Joyce to consolidate bookmarks, saved Reddit posts, github repos and any other reference sources
            on the internet.

        </p>
        <p>The motivation for this project is:</p>
        <ul>
            <li>Build a SPA app from the ground up using Web API and Angular</li>
            <li>Integrate modern webdev tools and preprocessor languages (Grunt, npm, SASS, CoffeeScript) into my workflow using Visual Studio</li>
            <li>Create a site that consolidates, organizes and provides easy access to things I save on the internet</li>
        </ul>
        <p>I hope to learn a lot from creating this site while also developing a useful tool</p>

        <h3>Key Features</h3>
        <p>This site will offer the following features:</p>
        <ul>
            <li>Consolidate and Organize Bookmarks and Saved links</li>
            <li>Adding of new bookmarks</li>
            <li>Import of bookmarks from major browsers</li>
            <li>Ranking and Reviewing of links</li>
            <li>Syncing of bookmarks and links from various sources (Chrome, Reddit etc.)</li>
        </ul>
        <p>To faciliate syncing of various sources, a service project will be implemented to check all configured sources</p>
    </div>
    <div class="sidebar">
        <h3>Recently Added Links</h3>
        <ul>
            <li ng-repeat="link in latestLinks">
                <div>
                    <a href="{{link.url}}">{{link.title}}</a>
                    <span>{{link.createdDate}}</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="stickied">
        <h2>Top Sticked Links</h2>
        <!--links that are documentation references...MDN, Microsoft etc.-->
        <ul class="sticked-posts">
            <li ng-repeat="stick in stickied">
                <div class="icon" ng-src="stick.linkIconUrl"></div>
                <div>
                    <span>
                        <a href="{{stick.url}}" target="_blank">{{stick.title}}</a>
                    </span>
                    <a href="#Bookmark/{{stick.id}}">View Bookmark</a>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <pre ng-repeat="model in recent">
            {{model}}
            </pre>
    </div>
</div>
