<div class="container">
	<h3 ng-hide="vm.review.id">Submit a Review</h3>
	<h3 ng-show="vm.review.id">Edit Review</h3>
	<div class="row">
		<label class="col-xs-1" for="">Overview:</label>
		<div class="col-xs-5">
			<textarea class="form-control" rows="5" ng-model="vm.review.overview">
		</textarea>
		</div>
	</div>
	<div class="row">
		<label class="col-xs-1">Score</label>
		<div class="col-xs-3">
			<input placeholder="Enter Score"class="form-control" ng-model="vm.review.score" type="number" min="0" max="5" ></input>
		</div>
	</div>
	<button class="btn btn-sm btn-success" ng-click="vm.submitChanges()">Submit Changes</button>
	<button class="btn btn-sm btn-danger" ng-click="vm.cancel()">Cancel</button>
</div>